
.judul{
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.Contact-Us{
	width: 300px;
	border-radius: 25px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #555555;
	margin: 15px;
}
.Contact-Us__warna_tabel_atas{
	padding: 25px;
	background: green;
	color: white;
}
.Contact-Us__title{
	margin: 0;
	padding-left: 44px;
}

.Contact-Us__title{
	font-size: 1.5em;
	font-weight: 400;
}

.Contact-Us__summary{
	font-size: 1em;
	font-weight: 300;
}
.Contact-Us__Ukuran_isi{
	padding: 25px;
}

.Contact-Us__list {											/*  mereset format dasar isi buat kerapian tulisan isi*/
	padding: 0;
	margin: 0;
}
.Contact-Us__isi{											/* posisi tulisan isi */
	list-style: none;
	margin: 0;
	padding-left: 54px; 
	position: relative;
}
.Contact-Us__isi::before{									/* penempatan simbol sebelum kalimat isi*/
	content: "\27A4";
	position: relative;
	right: 16px;
}	

.Contact-Us__garis_tengah{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
